
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: monospace,Verdana, Geneva, Tahoma, sans-serif;
    transition: background 500ms ease-in-out .3s;
}

#button{
    padding: 10px;
    margin: 10px
}
.flexbox{
    margin: 2em;
    
}

.box_purple{
    padding: 10px;
    
    background-color: #f3b7ff;
    position: absolute;
    transition: 2s ease;
    
}
.box_orange{
    
    
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: #f60;.
    transition: 2s ease;
   
}

.child1{
    position: relative;
    transition: 2s ease;

   
}

.move_right{
    transition: 2s ease;
    left: 30%;
}

